body{
  background-color: black;
}

h1.greeting {
  font-size: 6vh;
}

#friendstars {
  background-image: url(../images/nightsky.jpg);
  min-width: 50%;
  min-height: 50%;
}

/* CSS Normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/* Box-sizing border-box */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.dropdown {
  display: flex;
  justify-content: flex-end;
}

.container{
  display: flex-inline;
  /*max-height: 100vh;*/
  width: 170vh;
}

.skyContainer {
  display:flex;
  border:10px solid goldenrod;
  position: relative;
}

.skyImg {
  background-image: url(../images/nightsky.jpg);
  background-position: center bottom;
  background-size: contain;
  background-size: 100%;
  flex: 1;
  height: 55vh;
}

.greeting {
  font-size: 7vh;
  text-align: center;
  color: white;
}

.contentContainer {
  display: flex;
  /*max-height: 50vh;*/
  /*justify-content: space-between;*/
}

.listOfTasks {
  padding: 8px;
  padding-left: 20px;
  border:5px solid goldenrod;
  max-width: 80vh;
  min-height: 215px;
  font-size: 2.5vh;
  flex: 1;
  margin-right: 1em;
}

.listOfTasks .tasks {
  /*font-size: 2.25vh;*/
  list-style-type:none;
  margin-top: 2px;
  padding: 0px;
  /*min-height: 120px;*/
}

.tasks input[type="checkbox"] {
  margin-top: 7px;
}

.taskAnchor {
  margin-left: 25px;
}

.taskWrapper {
  height: 30vh;
}

.taskWrapper:before {
  content:'';
  float: left;
  height: 100%;
}

#taskScroll {
  position: relative;
}

#taskScroll:after {
  content:'';
  display: block;
  clear: both;
}

.scroll {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.friendsHeader{
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
}

.friendsWrapper {
  height: 31.4vh;
}

.friendsWrapper:before{
  content:'';
  float: left;
  height: 100%;
}

#friendsScroll {
  position: relative;
}

#friendsScroll:after {
  content:'';
  display: block;
  clear: both;
}

.listOfTasksTable {
  border: 1px solid black;
}

.listOfTasksDescriptionTD {
  border: 1px solid black;
  padding: 5px;
  width: 300px;
}

.listOfTasksCheckboxTD {
  border: 1px solid black;
  padding: 5px;
  width: 50px;
}

/*.middleColumn {
  display: flex;
  flex-direction: column;
  min-width: 70vh;
}*/

.addTask {
  display: flex;
  justify-content: space-between;
}

.sortByAndAddTaskButtons{
  display: flex;
  justify-content: flex-end;
}

ul {
  clear: both;
}

.friends {
  /*display: flex;*/
  min-width: 65vh;
  border:5px solid goldenrod;
  font-size: 2.5vh;
  padding: 8px;
  padding-left: 20px;
  margin-right: 1em;
  min-height: 215px;
/*  flex-direction: column;*/
}

.listOfFriends {
  font-size: 2.5vh;
  /* list-style-type:none; */
  margin-left: 22px;
  padding: 0px;
  /*min-height: 120px;*/
}

#sortByPriority {
  margin-left: 20px;
  font-size: 2.5vh;
  background-color: goldenrod;
  border-color: goldenrod;
  float: right;
  margin-top: 1.1em;
  /*flex: 1;*/
}

#createTaskButton {
  margin-right: 10px;
  font-size: 2.5vh;
  background-color: goldenrod;
  border-color: goldenrod;
  float: right;
  margin-top: 1.1em;
  margin-left: .5em;
  margin-right: 1.1em;

  /*flex: 1;*/
}

#addFriendButton {
  background-color: goldenrod;
  border-color: goldenrod;
  /*max-width: 20%;*/
  font-size: 2.5vh;
  float: right;
  margin: 1.1em;
}

#addFriendshipButton, #inviteFriendButton {
  background-color: goldenrod;
  border-color: goldenrod;
  max-width: 20%;
  font-size: 2.5vh;
  float: right;
  margin: 1.1em;
  display: none;
}

.shown#addFriendshipButton, .shown#inviteFriendButton {
  display: inline-block;
  margin-top: -7.5vh;
}

#deleteFriendshipButton {
  float: left;
}

.left-title {
  float: left;
  color: white;
}

.endColumn{
  display: flex;
  flex-direction: column;
  margin-left: 3.5em;
}

#twitterButton {
  background-color: goldenrod;
  border-color: goldenrod;
  font-size: 2vh;
}

#facebookButton {
  background-color: goldenrod;
  border-color: goldenrod;
  font-size: 2vh;
}

.complete {
  float: left;
  font-size: 3vh;
}

.complete_span_disabled {
  /* color: #E8E8EE;*/
  color: #A8A8A8;
}

.complete_checkbox_disabled {
  color: white;
  disabled: "disabled";
}

#recurring {
  margin-left: 20px;
}

#Erecurring {
  /*margin-left: 20px;*/
}

#postponed {
  margin-left: 50px;
}

#completed {
  margin-left: 50px;
}

.details {
  display: flex;
  justify-content: center;
  font-size: 1.75vh;
}

#taskComplete {
  float: right;
}

.taskDetailButtons {
  display: flex;
  justify-content: flex-end;
}

.dueDateAndPriority {
  display: flex;
  justify-content: space-between;
}

.dueDateAndPriority #priority {
  width: 4vw;
}

#Epriority {
  width: 4vw;
}

#saveEditButton {
  margin-left: 8px;
}

.postponed{
  color: goldenrod;
 /* margin-left: 25px;*/
}

.complete_span_disabled.postponed{
  color: #A8A8A8;
}


.tasklistform {
  background-color: black;
  /* background-color: grey; */
  /* color: dark grey; */
  color: #cccccc;   /* light grey */
  display: none;
  font-size: 10px;
  margin-top: -2px;
  padding: 4px;

}

.tasklistformbuttons{
  /* border: 1px solid yellow; */
  margin-top: 7px;
}

.tasklistform label{
  /*background-color: ;*/
  margin-top: 5px;
  color:  #D1D1D1;
}

.tasklistform input[type="text"]{
  background-color: #D1D1D1;
  border: 1px solid black;
  color:  black;
  width: 100%;
}

.tasklistform input[type="date"]{
  background-color: #D1D1D1;
  border: 1px solid black;
  color: black;
  width: 150px;
  margin-top: 2px;

}

.tasklistform input[type="checkbox"]{
  background-color: #D1D1D1;
  border: 1px solid black;
  color: black;
  margin-top: 2px;
}

.tasklistform select{
  background-color: #D1D1D1;
  border: 1px solid black;
  color: black;
  margin-top: 2px;
}

.tasklistform .btn-default{
  background-color: #D1D1D1;
}

#task-list .left-column{
  /* border: 1px solid red; */
  color: #cccccc;
  font-size: 1.75vh;
  text-align: right;
  padding: 1px;
}

#task-list .right-column{
  /* border: 1px solid green; */
  font-size: 1.5vh;
  padding: 3px;
  padding-left: 6px;
  /* margin-left: 6px; */
  text-align: left;
}

#hiddenErrorMsg {
  display: none;
  margin-top: .5em;
  font-size: 1.5vh;
}

#Edescription {
  /*width: 355px;*/
}

.expandedTaskButtons {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.3em;
}

#cancel {
  margin-right: .3em;
}

#saveEditButton {
  margin-right: 1em;
}

#deleteTask {
  margin-right: 1em;
}

iframe {
transform: scale(1.75);
-ms-transform: scale(1.75); 
-webkit-transform: scale(1.75); 
-o-transform: scale(1.75); 
-moz-transform: scale(1.75); 
transform-origin: top right;
-ms-transform-origin: top right;
-webkit-transform-origin: top right;
-moz-transform-origin: top right;
-webkit-transform-origin: top right;
}

.complete {
  
}

