h1{
	color: goldenrod;
}

.social-button{
	color: goldenrod;
}

.social-button:hover{
	color: #337ab7;
}

p{
	color: goldenrod;
}

i{
  color: goldenrod;
}

.input-in-form{
	display: inline-block;
	position: relative;
}

.input-in-form .glyphicon{
	position: absolute;
	padding-left: 3px;
	padding-top: 3px;
}

.left-positioning .glyphicon{
	left: 0px;
}

.left-positioning input{
	padding-left: 20px;
}

input{
	margin-bottom: 10px;
}

.icon-text-color{
	color: white;
}