h1{
	color: goldenrod;
}

.social-button{
	color: goldenrod;
}

.social-button:hover{
	color: #337ab7;
}

p{
	color: goldenrod;
}

span i{
  color: white;
}

.input-in-form{
	display: inline-block;
}