/*h4{
	color: goldenrod;
}*/

.login-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	/*justify-content: center;*/
	/*max-width: 200vh;*/
}

.social-button{
	color: white;
}

.social-button:hover{
	color: #337ab7;
}

i{
  color: goldenrod;
}

/*to get the icons into the input fields*/
.input-in-form{
	display: inline-block;
	position: relative;
}

.input-in-form .glyphicon{
	position: absolute;
	padding-left: 5px;
	padding-top: 3px;
}

.left-positioning .glyphicon{
	left: 0px;
}

.left-positioning input{
	padding-left: 20px;
}

input{
	margin-bottom: 10px;
}

.icon-text-color{
	color: white;
}

/*------*/

.login-header{
	/*position: relative;
	margin-left: 25px;*/
	display: flex;
	flex-direction: row;
}

.login-container{
	/*position: absolute;
	margin-top: 10px;*/
	visibility: visible;
	display: block;
	border: 2px solid goldenrod;
	box-shadow: 4px 4px 2px goldenrod;
	border-radius: 7px;
	margin-bottom: 2em;
	padding: 2em;
	max-width: 80vh;
}

.signup-container{
	/*position: absolute;
	margin-top: 10px;*/
	visibility: hidden;
	display:none;
	border: 2px solid goldenrod;
	box-shadow: 4px 4px 2px goldenrod;
	border-radius: 7px;
	margin-bottom: 2em;
	padding: 2em;
}

/*.active{
	color: white;
}*/

a:hover{
	/*text-decoration:none;*/
	/*color: white;*/
}

/*a:hover.active{
	color: white;
}
*/
.login-formfield{
	box-shadow: 4px 4px 2px goldenrod;
	border-radius: 7px;
}

form{
	margin: 0px;
}

.btn-primary{
	border-radius: 7px;
}

#login-title{
	color: goldenrod;
	margin-bottom: 25px;
}

#signup-title{
	color: goldenrod;
	margin-bottom: 25px;
}

#login-box-link{
	font-size: 16px;
	margin-right: 2em;
	/*border: 2px solid goldenrod;
	border-radius: 7px;
	padding: 4px;*/
}

#signup-box-link{
	font-size: 16px;
	margin-left: 2em;
/*	border: 2px solid goldenrod;
	border-radius: 7px;
	padding: 4px;*/
}

.social-login-container{
	/*position: relative;
	float: right;
	clear: both;*/
	display: flex;
	flex-direction: row;
	margin-top: 2em;
	/*max-width: 80vh;*/
	/*justify-content: space-around;*/
}

.social-login-buttons{
	/*position: relative;
	float: right;
	clear: both;*/
	/*margin-top: 30%;*/
	border: 2px solid goldenrod;
	box-shadow: 4px 4px 2px goldenrod;
	border-radius: 7px;
	height: 40px;
	width: 100px;
	/*margin-bottom: 15px;*/
	/*padding-right: 55px;*/
	margin-left: 10px;
}

.social-login-buttons.github-login{
	background-color: #444444;
}

.button-for-submit{
	margin-bottom: 7px;
}

.social-login-buttons.twitter-login{
	background-color: #55ACEE;
}

.social-login-buttons.facebook-login{
	background-color: #3B5998;
}

.hide-container{
	display: none;
	visibility: hidden;
}

.show-container{
	display: block;
	visibility: visible;
}

.login-header{
	margin-bottom: 2em;
	margin-top: 3em;
}

.sign-in-text{
	color: goldenrod;
	margin-top: 1.5em;
}

#or{
	color: goldenrod;
	font-size: 2.5vh;
	margin-top: -1px;
}

#project-title{
	font-size: 8vh;
	margin-top: 1.5em;
	color: white;
}