body{
  background-color: black;
}

/*test:*/
.star{
  height: 20px;
  width: 20px;
  background-color: white;
  /*border-radius: 50%;*/
  transform: scaleX(0.5) rotate(315deg);
 /* transform:scaleX(1.0);*/
}

.star:hover{
  height: 25px;
  width: 25px;
  animation: 3s full-turn;
  border: 2px solid white;
  box-shadow: 2px 2px 2px white;
 /* transform: scaleX(0.5) rotate(315deg);*/
}

.star-container{  
  position: relative;
 /* left: 100px;
  top: 400px;  */
  /*transition: all 2s linear;*/
}

.new-star{
  height: 20px;
  width: 20px;
  background-color: white;
  transform: scaleX(0.5) rotate(315deg);
  /* order for animation: duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name*/
  animation: 2s linear 2s 3 expand-shrink;
  /*border-radius: 50%;*/
  /*animation: spin 4s linear;*/
/*  -webkit-animation-duration: 10 s;*/
  /*-webkit-animation-iteration-count: infinite;*/
  transition: all 1s linear;
}

.new-star-container{  
  position: absolute;
  /*left: 500px;
  top: 500px; */ 
  /*position: relative;*/
  left: 50%;
  top: 50%;
  transition: all 2s linear;
}


/*added vendor prefixes below since css filter wouldn't work without it*/

.new-star.star-changes{
  /*background-color: red;*/

  transform: scaleX(0.5) rotate(45deg);
  -webkit-filter: drop-shadow(0px 0px 10px white);
  -moz-filter: drop-shadow(0px 0px 10px white);
  filter: drop-shadow(0px 0px 10px white);

 /* animation: shooting-star 1s;*/

  /*box-shadow: 5px 0px 5px 10px red;*/
  /*border: 2px solid white;*/
  /*border-radius: 50%;*/
}

.new-star:hover{
  height: 25px;
  width: 25px;
 /* border: 2px solid red;*/
/*  box-shadow: 0px 0px 0px 2px white;*/
 /* transform: scaleX(0.5) rotate(315deg);*/
  animation: 3s full-turn;
}

@keyframes full-turn{
  0%{
    transform: scaleX(0.5) rotate(315deg);
  }
 /* 50%{
    transform: scaleX(0.5) rotate(45deg);
  }*/
  100%{
    transform: scaleX(0.5) rotate(45deg);
  }
}

@keyframes expand-shrink{
  0%{
    width: 20px;
    height: 20px;
  }
  50%{
    width: 25px;
    height: 25px;
  }
  100%{
    width: 20px;
    height: 20px;
  }
}


/* math for degree intervals
  deg_between = 315 - 45 = 270
  deg_between/2 = 135
  at_fifty_perc = 315-135
  at_fifty_perc/2 = 67.5
*/

/*@keyframes shooting-star{
  0%{
    transform: scaleX(0.5) rotate(45deg);
  }
  10%{
    transform: scaleX(0.5) rotate(90deg);
  }
  20%{
    transform: scaleX(0.5) rotate(85deg);
  }

  30%{
    transform: scaleX(0.5) rotate(80deg);
  }

  40%{
    transform: scaleX(0.5) rotate(75deg);
  }

  50%{
    transform: scaleX(0.5) rotate(315deg);
  }

  60%{
    transform: scaleX(0.5) rotate(65deg);
  }
  
  70%{
    transform: scaleX(0.5) rotate(60deg);
  }

  80%{
    transform: scaleX(0.5) rotate(55deg);
  }
  90%{
    transform: scaleX(0.5) rotate(50deg);
  }
  100%{
    transform: scaleX(0.5) rotate(45deg);
  }
}*/

/*.star{
  position: relative;
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  margin: 100px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid yellow;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}

.star:before{
  position: absolute;
  display: block;
  content: "";
  height: 0px;
  width: 0px;
  border-bottom: 80px solid yellow;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -45px;
  left: -65px;
  transform: rotate(-35deg);
}

.star:after{
  position: absolute;
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  top: 3px;
  left: -105px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid yellow;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
}*/


/* initial test code:
.box{
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  transition: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.box.changes{
  border-radius: 50%;
  background-color: blue;
}*/

/*container move animation tests:

/*.star-container.move{
  left: 400px;
  top: 200px;

/*.new-star-container.move{
  left: 400px;
  top: 200px;
}
*/

/*test 2 css below: turns into circle, changes color to red and expands*/

/*.test-star{
  height: 20px;
  width: 20px;
  background-color: blue;
  transition: all 2s linear;
}

.test-star.expand{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: red;
}*/

/*.test-star-container{  
  position: absolute;
  left: 500px;
  top: 500px;  
  transition: all 2s linear;
}
*/

/*test 3 below: movement at an angle, rotation*/

.test-star-container{  
  position: absolute;
  left: 500px;
  top: 500px;  
  transition: all 2s linear;
}

.test-star{
  height: 20px;
  width: 20px;
  transform: scaleX(0.5) rotate(45deg);
  background-color: red;
  transition: all 0.5s linear;
}

.test-star.changes{
 /* background-color: red;*/
  animation: 2s linear flying-star;
  /*transform: scaleX(0.5) rotate(45deg);*/
  -webkit-filter: drop-shadow(0px 0px 10px red);
  -moz-filter: drop-shadow(0px 0px 10px red);
  filter: drop-shadow(0px 0px 10px red);

}

@keyframes flying-star{
  0%{
    transform: scaleX(0.5) rotate(20deg);
    -webkit-filter: drop-shadow(20px 6px 10px red);
    -moz-filter: drop-shadow(20px 6px 10px red);
    filter: drop-shadow(20px 6px 10px red);
  }

  80%{
    transform: scaleX(0.5) rotate(30deg);
    -webkit-filter: drop-shadow(20px 6px 10px red);
    -moz-filter: drop-shadow(20px 6px 10px red);
    filter: drop-shadow(20px 6px 10px red);
  }

  85%{
    transform: scaleX(0.5) rotate(35deg);
    -webkit-filter: drop-shadow(15px 4px 10px red);
    -moz-filter: drop-shadow(15px 4px 10px red);
    filter: drop-shadow(15px 4px 10px red);
  }

  90%{
    transform: scaleX(0.5) rotate(40deg);
    -webkit-filter: drop-shadow(10px 2px 10px red);
    -moz-filter: drop-shadow(10px 2px 10px red);
    filter: drop-shadow(10px 2px 10px red);
  }

  95%{
    transform: scaleX(0.5) rotate(42deg);
    -webkit-filter: drop-shadow(2px 2px 10px red);
    -moz-filter: drop-shadow(2px 2px 10px red);
    filter: drop-shadow(2px 2px 10px red);
  }

  100%{
    transform: scaleX(0.5) rotate(45deg);
    -webkit-filter: drop-shadow(0px 0px 10px red);
    -moz-filter: drop-shadow(0px 0px 10px red);
    filter: drop-shadow(0px 0px 10px red);
  }
}

