node_modules
npm-debug.log
config/config.json
auth/auth.json
app/controllers/index_backup.js
app/routes/index_backup.js
app/views/index_backup.ejs
server_backup.js
server2.js
star-chart.sql
merge_results.txt
app/auth/auth.js
regression_test_outcome.txt
.DS_Store
user.html.ejs.backup
temp.txt
app/views/backup_layout.ejs
app/views/layout_backup2.ejs
app/views/partials/__facebook_test.ejs
app/views/partials/__facebook_test2.ejs
app/views/partials/__facebook_test3.ejs
facebook_test.html
facebook_test2.html
app/views/partials/__shareto_backup.ejs
letsencrypt/
temp2.txt
temp3.html
test.html
