<h1>Friends</h1>
<ul class ="friendslist"> 
</ul>


<!-- Start of modal -->
<div class="modal fade" id="showFriendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-body">

        <span id="friend-details"></span>'s Starchart
        <div id="friendstars"></div>

      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End of modal -->