
<!-- Your share button code -->
<div class="fb-share-button"
  data-href="http://localhost:3000/user"
  data-layout="button"
  data-width="100"
  data-height="35">
</div>
<br>
<br>
<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=I've found this great motivational tool that I think you would like. Visit http://starchart to find out more!"
  data-size="medium">
Tweet</a>
