<div class="shareToTwitter">
  <button type="button" class="btn btn-default" id="twitterButton">
    <i class="fa fa-twitter-square fa-2x"></i> Share
  </button>
</div>
<br>
<!--
<div class="shareToFaceBook">
  <button type="button" class="btn btn-default" id="facebookButton">
    <i class="fa fa-facebook-square fa-2x"></i> Share
  </button>
</div>
-->

<!-- Your share button code -->
<div class="fb-share-button"
  data-href="http://localhost:3000/user"
  data-layout="button_count">
</div>

<!--
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
-->
