
<!-- Your share button code -->
<div class="fb-share-button"
  data-href="http://localhost:3000/user"
  data-layout="button"
  data-width="100"
  data-height="35">
</div>
<br>
<br>
<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=I'm getting stuff done and earning so many stars! Check out My Star Chart!"
  data-size="medium">
Tweet</a>
