
<html>
  <head>
    <title>Star Chart</title>
    <!-- JS Scripts -->
    <script src="javascripts/jquery-2.1.4.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="javascripts/startup.js"></script>
    <script src="javascripts/application.js"></script>
    <script src="javascripts/navbar.js"></script>
    <script src="javascripts/taskdetailsmodal.js"></script>
    <script src="javascripts/taskeditmodal.js"></script>
    <script src="javascripts/taskcreatemodal.js"></script>
    <script src="javascripts/star.js"></script>
    <script src="javascripts/friends.js"></script>
    <script src="javascripts/startup.js"></script>
    <script src="javascripts/facebook.js"></script>
    <script src="javascripts/twitter.js"></script>
    <script src="javascripts/jquery-confirm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinysort/2.2.4/tinysort.js"></script>

   
    
    <!-- CSS Stylesheets -->

    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css"></link>
    <link rel="stylesheet" type="text/css" href="../stylesheets/animate.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/application.css"></link>
    <link rel="stylesheet" type="text/css" href="../stylesheets/star.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/jquery-confirm.min.css"></link>


  </head>

  <body>
    <div class ="container">
      <%- body %>
    </div>
  </body>
</html>
