<h1 class="text-center">Login Page</h1>

<form class="loginform text-center" action="/login" method="post">
  <input type="text" placeholder="Username" name="username" />
  <input type="password" placeholder="Password" name="password" />
  <button class="btn btn-primary btn-sm" type="submit">
    <i class="fa fa-arrow-circle-o-right fa-lg"> Log In </i>
  </button>
</form>

<div class="text-center">
  <a href="/auth/github" class="btn social-button">
    <i class="fa fa-github fa-lg"></i> 
    <span>Sign in with GitHub</span> 
  </a>
</div>