<div class ="well">
<h1>Signin</h1>
<form action="/login" method="post" id="logInForm">
  <p>
    <label>Username: 
     <input type="text" name="username" />
    </label>
  </p>
  <p>
    <label>Password:
      <input type="password" name="password" />
    </label>
  </p>
  <p>
    <button type="submit">Log In</button>
  </p>
  </form>
  </div>
  <div class ="well">
  <p>
    <a href="/auth/github">Sign in with GitHub</a>
  </p>

  <p>
    <a href="/auth/twitter">Sign in with Twitter</a> (coming soon)
  </p>

  <p>
    <a href="/auth/facebook">Sign in with Faceboook</a> (coming soon)
  </p>
</div><div class ="well">
<h1>Signup</h1>
  <form action="/users/new" method="post" id="signUpForm">
    <p>
    <label>Username:
      <input type="text" name="username" />
    </label>
  </p>
  <p>
    <label>Email:
      <input type="text" name="email" />
    </label>
  </p>
  <p>
    <label>Password:
      <input type="password" name="pwd" id="pwd1"/>
    </label>
    <label>Confirm Password:
      <input type="password" name="pwd2" id="pwd2"/>
    </label>
  </p>
  <p>
    <button type="submit" id="signUpButton">Sign Up</button>
  </p>
</form>
</div>
