<!-- <!Doctype html>
 --><!-- this is a temp file for Lakshmi to work with -->
<!-- <html>
  <head>
    <link rel="stylesheet" type="text/css" href="../stylesheets/star.css">
    <script type="text/javascript" src="../javascripts/star.js"></script>
  </head>
  <body>
    <div id="basebox">
    </div> -->
   <!--  <div class="star-container">
      <div class="star"></div>
    </div> -->
   <!--  <button class="submit">Submit</button>
  </body>
</html> -->

<% include partials/__navbar %>
<br> 
<h1 class="greeting">Hello, Tanner! Today's a good day to walk the dog!</h1>

<div class="skyContainer skyImg" id="basebox">
  <button class="submit">Submit</button>

  <!-- test code 2  -->
 <!--  <button id="test-two">Test</button> -->
  <!-- end test code 2 -->
  
  <!--starchart goes here-->
</div>
<br>

<div class="contentContainer">
  <div class="listOfTasks">
    <h1>Today's tasks...</h1>
    <ul class="tasks">
      <!-- tasklist goes here -->
    </ul>
    <% include partials/__taskdetailsmodal %>
    <% include partials/__taskeditmodal %>

    <div class="middleRow">
      <div class="addTask">
      <!-- Add task button and add task modal-->
      <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#addTaskModal" id="createTaskButton">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Task
      </button>
      <br>
        <% include partials/__taskcreatemodal %>
      <br>
        <div class="friends">
          <% include partials/__friends %>
        </div>
      </div>
    </div>

    <div class="endRow">
    <% include partials/__shareto %>
    </div>
  </div>
</div>

