<html>
<head>
  <title>Title!</title>
  <!-- JS Scripts -->

  <script src="javascripts/jquery-2.1.4.min.js"></script>
  <script src="javascripts/application.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>

  <!-- CSS Stylesheets -->

  <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css"></link>
  <link rel="stylesheet" type="text/css" href="../stylesheets/application.css"></link>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


</head>

<body>
<div class="alert alert-warning">TEMPLATE</div>
  <% include test.html %>  
</body>
</html>