<html>
<head>
  <title>Title!</title>

  <!-- CSS Stylesheets -->

  <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css"></link>
  <link rel="stylesheet" type="text/css" href="../stylesheets/application.css"></link>


  <!-- JS Scripts -->

  <script src="../javascripts/jquery-2.1.4.min.js"></script>
  <script src="../javascripts/application.js"></script>

</head>

<body>
<div class="alert alert-warning">TEMPLATE</div>
  <% include test.html %>  
</body>
</html>