<% include partials/__navbar %>
<div id="userId" data-id="<%= id %>"></div>
<h1 class="greeting">Hello, <%= username %>! Today's a good day to <span id='header-task' data-header-task-id='header_task'>walk the dog</span>!</h1>
<div class="skyContainer skyImg" id="basebox">
  <!--starchart goes here-->
  <!-- <button class="submit">Submit</button> -->
</div>
<br>

<div class="contentContainer">
  <div class="listOfTasks">

    <div class="taskWrapper">
      <div class="addTask">
        <h1 class="left-title">Today's tasks...</h1>
        <div class="sortByAndAddTaskButtons">
        <span title="List tasks by priority">
          <button type="button" class="btn btn-default btn-lg" id="sortByPriority">
            <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          </button>
        </span>
        <span title="Add task">
          <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#addTaskModal" id="createTaskButton">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </span>
        </div>
      </div>
      <div id="taskScroll">
        <div class="scroll">
          <ul class="tasks">
            <!-- tasklist goes here -->
            <li>
              <a class="taskAnchor" id="999" data-priority="1" href data-toggle="modal" data-target="#myModal">Walk the dog</a>
              <input type="checkbox" class="complete" id="chk999">
            </li>
            <!-- the new part -- form to edit the task -->
            <div class="tasklistform">
              <form id="editTaskForm" action="" method="put">

                  <label for="description">Description:</label>
                  <input type ="text" minlength="5" maxlength="50"class="" id="Edescription" name="description"></textarea>
                  <br>
                  <div class="">
                    <label for="due_date">Due Date:</label>
                    <input type="date" id="Edue_date" name="due_date">
                    <label for="priority">Priority:</label>
                    <select class="" id="Epriority" name="priority">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                    <label for="recurring">Recurring:</label>
                    <input type="checkbox" name="recurring" id="ERecurring">
                  </div>
                  <br>
                  <button type="button" class="btn btn-default btn-xs " id="cancel">Cancel</button><input type="submit" class="btn btn-primary btn-xs" id="saveEditButton">

              </form>
            <div>
          </ul>
        </div>
      </div>
    </div>

    <% include partials/__taskdetailsmodal %>
    <% include partials/__taskeditmodal %>
    <% include partials/__taskcreatemodal %>

    <div class="friendsWrapper">
        <div class="friends">
          <% include partials/__friends %>
        </div>
    </div>

    <div class="endColumn">
    <% include partials/__shareto %>
    </div>
  </div>
</div>
<br>
