<% include partials/__navbar %>
<div id="userId" data-id="<%= id %>"></div>
<h1 class="greeting">Hello, <%= username %> ! Today's a good day to walk the dog!</h1>

<div class="skyContainer skyImg" id="basebox">
  <!--starchart goes here-->
</div>
<br>

<div class="contentContainer">
  <div class="listOfTasks">
    <h1>Today's tasks...</h1>

    <ul class="tasks">
      <!-- tasklist goes here -->
    </ul>

    <% include partials/__taskdetailsmodal %>
    <% include partials/__taskeditmodal %>

    <div class="middleColumn">
      <div class="addTask">
      <!-- Add task button and add task modal-->
      <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#addTaskModal" id="createTaskButton">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Task
      </button>
      <br>
        <% include partials/__taskcreatemodal %>
      <br>
        <div class="friends">
          <% include partials/__friends %>
        </div>
      </div>
    </div>

    <div class="endColumn">
    <% include partials/__shareto %>
    </div>
  </div>
</div>
<br>
